.textcenter {
  text-align: center;
}

.textright {
  text-align: right;
}

.textcenterline {
  text-decoration: line-through 2px;
}

.hidden {
  visibility: hidden;
}

.defaultBlockSize {
  width: calc(100%/3);
}

.container {
  height: 82%;
  padding: 84px 0px 84px 0px;
  display: flex;
  align-items: center;
}

.background {
  background-color: black;
}