.inlineblock {
  display: inline-block;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.margin0 {
  margin: 0px;
}

.textcenter {
  text-align: center;
}

.hidden {
  display: none;
}

.center {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}