@keyframes turn{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

.linkDiv {
  font-size: 28px;
  border: none;
  margin-bottom: 20px;
  background-color: var(--inherit-color);
  display: flex;
  justify-content: end;
}

.linkDiv:last-child{
  margin-bottom: 0px;
}

.linkDiv span:last-child {
  cursor: pointer;
  transition: ease-in 0.3s;
}

.linkDiv span:last-child:hover {
  font-size: 32px;
  transition: ease-out 0.3s;
}

.addLinkButton {
  height: 22px;
  width: 22px;
  left: 100%;
  padding: 0px;
  border: none;
  background: url( "../assets/img/plus.png" ) no-repeat;
  background-size: cover;
  position: relative;
}

.addLinkButton:hover {
  animation: turn 0.3s linear;
}

.newLinkInputScreen {
  height: 280px;
  width: 260px;
  left: 34.5%;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  color: var(black);
}

.newLinkInputForm div{
  font-size: 18px;
  text-align: center;
}

.newLinkInputForm input{
  font-size: 18px;
  text-align: center;
  border: none;
  margin-top: 5px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.7);
}

.newLinkInputForm button{
  color: var(--default-font-color);
  font-size: 18px;
  border: none;
  margin-top: 10px;
}

.linkIcon {
  height: 20px;
  width: 20px;
  margin-top: auto;
  margin-right: 20px;
  margin-bottom: auto;
  border: none;
  background: url( "../assets/img/linkicon.png" ) no-repeat;
  background-size: cover;
}