#hello {
  font-size: 100px;
}

#login-form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-form input {
  width: 300px;
  color: var(--default-font-color);
  background-color: transparent;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 5px solid var(--default-font-color);
  height: 70px;
  font-family: inherit;
  font-size: 70px;
}

#login-form input::placeholder {
  color: var(--default-font-color);
  font-size: 30px;
}

.loginButton {
  background: url("../assets/img/login.png") no-repeat;
  height: 50px;
  width: 50px;
  padding: 0px;
  border: none;
  margin-left: 20px;
  background-size: cover;
}

.logoutButton {
  height: 32px;
  width: 32px;
  padding: 0px;
  border: none;
  background: url( "../assets/img/logout.png" ) no-repeat;
}

/* .logoutballon {
  opacity: 0;
  font-size: 18px;
  height: 20px;
  width: 80px;
  padding: 10px 0px 10px 0px;
  top: 48%;
  left: 54%;
  position: absolute;
  background: #484848;
  color: white;
  border-radius: 5px;
}

.logoutButton:hover ~ .logoutballon {
  opacity: 1;
  transition: ease-out 0.3s;
}

.logoutballon::after {
  border-top: 10px solid #484848;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 0px solid transparent;
  content: "";
  position: absolute;
  top: 40px;
  left: 13px;
} */