#hello {
  font-size: 100px;
}

#login-form {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#login-form input {
  height: 70px;
  font-size: 70px;
}

#login-form button {
  background: url("../assets/img/login.png") no-repeat;
  height: 50px;
  width: 50px;
  padding: 0px;
  border: none;
  margin-left: 20px;
  background-size: cover;
  cursor: pointer;
}