#quotes {
  font-size: 19px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

#quotes div:first-child {
  margin-bottom: 10px;
}

.backgroundSetting {
  position: absolute;
  background: url( "../assets/img/setting.png" ) no-repeat center/100%;
}