@keyframes turn180 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}

#quotes {
  font-size: 19px;
  position: absolute;
  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);
}

#quotes div:first-child {
  margin-bottom: 10px;
}

.backgroundSetting {
  height: 32px;
  width: 32px;
  top: 5%;
  left: 3%;
  border: none;
  position: absolute;
  background: url( "../assets/img/settings.png" ) no-repeat center/100%;
}

.backgroundSetting:hover {
  animation: 0.4s turn180 2 alternate;
}

.colorPalette {
  width: 200px;
  height: 240px;
  top: 9%;
  left: 4.8%;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
}

.coloris {
  border: none;
}

.applybutton {
  width: 60px;
  height: 33px;
  order: 2;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 16px;
  font: bold 16px 'Nunito';
}