.selectform {
  margin-top: 60px;
}

.selectform * {
  font-family: inherit;
}

.selectform select {
  width: 140px;
  background: url("../assets/img/underarrow.png") no-repeat 100%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.selectform select::-ms-expand {
  display: none;
}

.selectform select option {
  color: #000000;
  background: var(--inherit-color);
}

.selectform input {
  width: calc(100% - 158px);
}

.selectform input, .selectform select {
  line-height: var(--searchform-input-height);
  padding: 0px 0px 0px 18px;
  border-style: solid;
  border-width: 0px 0px 4px 0px;
  border-color: #fff;
  color: var(--default-font-color);
  font-size: 22px;
  vertical-align: middle;
  background-color: var(--inherit-color);
}