@import "reset.css";
@import "variables.css";
@import "classes.css";
@import "loginform.css";
@import "linkbutton.css";
@import "clock.css";
@import "searchform.css";
@import "todo.css";
@import "quotes&setting.css";
@import "coloris.css";

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');
@import url("https://hangeul.pstatic.net/hangeul_static/css/nanum-square.css");

#weather {
  font-size: 30px;
  margin-top: 50px;
}

#greeting {
  font-size: 32px;
  margin-top: 50px;
}

body {
  height: 100vh;
  width: 100vw;
  color: var(--default-font-color);
  font-family: 'Nunito', 'NanumSquare', sans-serif;
  margin: 0px;
}

button {
  background-color: var(--inherit-color);
  cursor: pointer;
}

input:focus, select:focus {
  outline: none;
}