.todo-list {
  padding: 0px;
}

.todo-form input {
  padding-bottom: 10px;
  margin-bottom: 15px;
  font-size: 20px;
}

.todo-list li {
  font-size: 18px;
  margin-bottom: 10px;
  transition: all ease-out 1s;
}

.todo-list li:last-child{
  margin-bottom: 0px;
}

.todo-list li button {
  background-color: var(--inherit-color);
  border: none;
  margin-left: 8px;
  cursor: pointer;
}

.deleteButton {
  opacity: 0;
}

.todo-list li:hover .deleteButton {
  opacity: 1;
  transition: ease-out 0.5s;
}
