#rightblock {
  padding-left: 140px;
}

.todo-list {
  padding: 0px;
}

.todo-form input {
  width: 300px;
  color: var(--default-font-color);
  background-color: transparent;
  padding-bottom: 10px;
  margin-bottom: 15px;
  border: none;
  border-bottom: 5px solid var(--default-font-color);
  font-family: inherit;
  font-size: 20px;
}

.todo-form input::placeholder {
  color: var(--default-font-color);
  font-size: 20px;
}

.todo-list div {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
}

.deleteButton {
  background-color: var(--inherit-color);
  border: none;
  margin-left: 4px;
  cursor: pointer;
  opacity: 0;
  transition: ease-out 0.3s;
}

.checkButton {
  height: 18px;
  width: 18px;
  padding: 0;
  border: 3px solid white;
  border-radius: 50%;
  margin-right: 10px;
  background-color: white;
  transition: ease-out 0.3s;
}

.buttonColor {
  background-color: orangered;
  transition: ease-out 0.3s;
}

.todo-list li:hover .deleteButton {
  opacity: 1;
  transition: ease-out 0.3s;
}

.modifyText {
  top: 0;
  left: 30px;
  font-size: 18px;
  padding: 0px;
  border: none;
  border-radius: 5px;
  color: var(--default-font-color);
  background-color: var(--inherit-color);
  position: absolute;
}